[Unit]
Description=Run secret_scanner every day at 6am pacific
Requires=secret_scanner.service

[Timer]
OnCalendar=*-*-* 14:00:00
RandomizedDelaySec=600

[Install]
WantedBy=timers.target