[Unit]
Description=Run htmldirlisting_secret_monitor every day at 7am pacific
Requires=htmldirlisting_secret_monitor.service

[Timer]
OnCalendar=*-*-* 15:00:00
RandomizedDelaySec=600

[Install]
WantedBy=timers.target