[Unit]
Description=Run secret_police every day at 11:30pm pacific
Requires=jira_secret_police.service

[Timer]
OnCalendar=*-*-* 7:30:00
RandomizedDelaySec=60

[Install]
WantedBy=timers.target