[Unit]
Description=Runs JIRA + GDrive Secret Police scan
Wants=jira_secret_police.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/git pull origin
ExecStart=/home/ec2-user/anaconda3/bin/python jira_secret_police.py
WorkingDirectory=/home/ec2-user/secret_police
User=ec2-user
Group=ec2-user
Environment='PATH=/root/anaconda3/bin:/root/anaconda3/condabin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/root/.local/bin:/root/bin:/root/.local/bin:/root/bin'
Environment=INSIGHTS_INSERT_KEY=<redacted for git>
Environment=INSIGHTS_ACCT_ID=<redacted for git>
Environment=JIRA_TOKEN=<redacted for git>
Environment=ANKAMALI_HOG_PATH=./ankamali_hog


[Install]
WantedBy=multi-user.target