[Unit]
Description=Runs Rubygem Secret Monitor
Wants=rubygem_secret_monitor.timer

[Service]
Type=oneshot
ExecStart=/home/ec2-user/anaconda3/bin/python scripts/rubygem_secret_monitor.py
WorkingDirectory=/home/ec2-user/rusty_hog_1.0.4
User=ec2-user
Group=ec2-user
Environment='PATH=/root/anaconda3/bin:/root/anaconda3/condabin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/root/.local/bin:/root/bin:/root/.local/bin:/root/bin'
Environment=RUBYGEM_NAME=<redacted for git>
Environment=INSIGHTS_INSERT_KEY=<redacted for git>
Environment=INSIGHTS_ACCT_ID=<redacted for git>
Environment=DUROC_HOG_PATH=musl_releases/duroc_hog

[Install]
WantedBy=multi-user.target
