[Unit]
Description=Run s3weblisting_secret_monitor every day at 5am pacific
Requires=s3weblisting_secret_monitor.service

[Timer]
OnCalendar=*-*-* 13:00:00
RandomizedDelaySec=600

[Install]
WantedBy=timers.target