[Unit]
Description=Run secret_police every day at 6am pacific
Requires=secret_police.service

[Timer]
OnCalendar=*-*-* 14:00:00
RandomizedDelaySec=600

[Install]
WantedBy=timers.target